body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    padding: 10px;
    margin: 2.5px;
    background-color: white;
    border-radius: 3px;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.1s;
    height: 48px;
    width: 48px;
}

input[type="text"] {
    padding: 10px;
    margin: 2.5px;
    background-color: white;
    border-radius: 3px;
    border: 2px solid rgb(0, 0, 0);
}

input:hover {
    background-color: whitesmoke;
    border: 3px solid rgb(155, 155, 155);
    transition: 0.1s;
    cursor: pointer;
    padding: 9px;
}

form {
    background-color: black;
    padding: 10px;
    width: fit-content;
    border: 3px solid black;
    border-radius: 3px;
}